.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10px;
}

*{
  padding: 0;
  margin: 0;
}

#nav-bar{
  background-color: grey;
  height: 30px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

#nav-bar ul{
  background-color: black;
  height: 50px;
}

#nav-bar li{
  list-style-type: none;
  float: left;
  border-right: 1px solid white;
  text-align: center;
  width: 33%;
  margin: 0 auto;
}

#nav-bar a{
  text-decoration: none;
  color: white;
  line-height: 30px;
  display: block;
}

#nav-bar a:hover{
  background-color: white;
  color: black;
}

ul{
  text-decoration-style: none;
}
