.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10px;
}

*{
  padding: 0;
  margin: 0;
}

#main-header a{
  color: #e61561;
}

#main-header a:hover{
  color: #f2bfc9;
}

#nav-bar{
  background-color: grey;
  height: 30px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

#nav-bar ul{
  background-color: black;
  height: 50px;
}

#nav-bar li{
  list-style-type: none;
  float: left;
  border-right: 1px solid white;
  text-align: center;
  width: 33%;
  margin: 0 auto;
}

#nav-bar a{
  text-decoration: none;
  color: white;
  line-height: 30px;
  display: block;
}

#nav-bar a:hover{
  background-color: white;
  color: black;
}

/* .booking-form{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  /* width: 35%; Set the width of the sidebar */
  /* position: fixed;  */
  /* Fixed Sidebar (stay in place on scroll) */
  /* background-color: white; /* Black */
  /* overflow-x: hidden; Disable horizontal scroll */
  /* padding-top: 20px;
  margin-left: 30%; */ *
/* }  */

.container{
  margin-top: 30px;
  display: flex;
  display: inline-flex;


}

.detail{
  margin-top: 30px;
}

.detail li{
  padding: 10px;
}

.highlightedText{
  color: #e61561;
}

/* #home-pic{
  width: 900px;
  padding: 30px;
  position: relative;
} */

.header{
  margin: 30px;
}

.homeContainer{
  margin: 50px;
}

#home-reservation-btn a{
  color: white;
  text-decoration: none;
}

#home-images {
  position:relative;
  height:281px;
  width:450px;
}

#home-images img {
  width:  1300px;
  height: 700px;
  background-repeat:   no-repeat;
  background-size:     cover;
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#home-images img.top:hover {
  opacity:0;
}

#customer-form{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */

  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-left: 5%; */
  /* border: black solid 1px; */
}


.customer-selector{
  padding-top: 20px;
  /* padding-left: 5%; */
/* padding-right: 5%; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px;
}

.booking-selector{
  /* padding-top: 20px;
  /* padding-left: 5%; */
/* padding-right: 5%; */
  /* height: 100%; /* Full-height: remove this if you want "auto" height */
  /* width: 400px;
  margin-left: 30%; */
}

.customer-list{
  padding-top: 20px;
  margin: 5%;
  padding-left: 25%;

  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px;
  text-decoration: none;

}

.customer-list-item{
  text-decoration: none;
}

.booking-container{
  padding-top: 20px;
  /* padding-left: 5%; */
/* padding-right: 5%; */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 400px;
  margin-left: 33%;

}

.view-booking{
  padding-top: 5%;
}

.date-thing{
  padding-bottom: 5%;
}

ul{
  list-style-type: none;
}
